<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Edit | HOB</title>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <li class="navbar-brand"><a href="/humansofbloomington">HUMANS OF BLOOMINGTON</a></li>
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
            <li class="navbar-text navbar-right">Welcome, <%= user %>!</li>
            <form class="navbar-form navbar-right logger" role="logout" action="/logout?_method=DELETE" method="POST">
            <input class="btn btn-default" type="submit" value="Logout">
            </form>
          <% } else { %>
              <li><a href="/humansofbloomington/session/login">Login</a></li>
              <li><a href="/humansofbloomington/session/register">Register</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <header>
        <h1><%= editHuman.name %> (edit)</h1>
      </header>
      <form action="/humansofbloomington/<%= editHuman.id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">First and Last Name</label>
          <input type="text" class="form-control" name="name" value="<%= editHuman.name %>">
          <label for="image">Image URL</label>
          <input type="text" class="form-control" name="image" value="<%= editHuman.image %>">
          <label for="currentRole">Current Job Title</label>
          <input type="text" class="form-control" name="currentRole" value="<%= editHuman.currentRole %>">
          <label for="currentEmployer">Current Employer/Business</label>
          <input type="text" class="form-control" name="currentEmployer" value="<%= editHuman.currentEmployer %>">
          <label for="hometown">Place of Origin (Hometown)</label>
          <input type="text" class="form-control" name="hometown" value="<%= editHuman.hometown %>">
          <label for="story">Your Story</label>
          <textarea type="text" class="form-control" name="story"><%= editHuman.story %></textarea>
          <button type="submit" class="btn btn-default">Edit</button>
        </div>
      </form>
      <div class="push"></div>
    </div>
  </div>
      <footer class="footer">
        <% include ../partials/footer.ejs %>
      </footer>
    </body>
    </html>
