<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Humans of Bloomington</title>
</head>
<body>
  <nav class="nav nav-pills">
    <li><a href="#">About</a></li>
    <li><a href="/humansofbloomington/humans/:id/edit">Create New Profile</a></li>
    <% if (user) { %>
      <li>Welcome, <%= user %>!</li>
      <li>
        <form action="/humansofbloomington/session/logout?_method=DELETE" method="POST">
          <input type="submit" value="Logout">
        </form>
      </li>
    <% } else { %>
      <li><a href="/humansofbloomington/session/login">Login</a></li>
      <li><a href="/humansofbloomington/session/register">Register</a></li>
    <% } %>
  </nav>
  <header>
    <h1>HUMANS OF BLOOMINGTON</h1>
  </header>
  <div class="container">
    <% for (let human of allHumans) { %>
      <div class="row">
        <div class="col">
          <a href="/humansofbloomington/<%= human.id %>"><img class="img-responsive" src="<%= human.image %>"></a>
          <h4><%= human.name %> | <%= human.currentRole %></h4>
        </div>
      </div>
      <% } %>
    </div>
    <footer class="footer">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
  </html>
