<!DOCTYPE html>
<html>
<head>
<% include ../partials/head.ejs %>
<title><%= oneHuman.name %> | HOB</title>
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <li class="navbar-brand"><a href="/humansofbloomington">HUMANS OF BLOOMINGTON</a></li>
        <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
          <p class="navbar-text navbar-right">Welcome, <%= user.username %>!</p>
          <form class="navbar-form navbar-right logger" action="/humansofbloomington/session/logout?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-default" value="Logout">
          </form>
          <% } else { %>
            <li><a href="/humansofbloomington/session/login">Login</a></li>
            <li><a href="/humansofbloomington/session/register">Register</a></li>
            <% } %>
        </ul>
      </div>
    </nav>
    <header>
      <h1><%= oneHuman.name %></h1>
    </header>
    <div class="container show-page-contain clearfix">
        <img class="img-responsive show-page-img" src="<%= oneHuman.image %>">
        <div class="show-wrap">
          <% if (user) { %>
            <% if (user._id+'' === oneHuman.user+'') { %>
              <a href="/humansofbloomington/<%= oneHuman.id %>/edit"><button type="button" class="btn btn-default">Edit</button></a>
              <form action="/humansofbloomington/<%= oneHuman.id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-default" value="Delete">
              </form>
              <div id="star-div">
                <div class="starry"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></div>
                <p><%= oneHuman.starQty %> Stars</p><hr>
                </div>
              <% } else { %>
                <form action="/humansofbloomington/<%= oneHuman.id %>/star?_method=PUT" method="POST">
                  <div id="star-div">
                    <button class="star"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> <%= oneHuman.starQty %> Stars</button>
                  </div><hr>
                </form>
              <% } %>
            <% } else { %>
              <div id="star-div">
                <div class="starry"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></div>
                <p><%= oneHuman.starQty %> Stars</p><hr>
              </div>
            <% } %>
          </div>
        <div class="stats pull-left">
        <div>
          <h3><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><%= oneHuman.currentRole %></h3></br>
        </div>
        <div>
          <h3><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span><%= oneHuman.currentEmployer %></h3></br>
        </div>
        <div>
          <h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= oneHuman.hometown %></h3></br>
        </div>
      </div>
        <div id="story">
          <%= oneHuman.story %>
        </div>
        </div>
        <div class="push"></div>
      </div>
      <footer class="footer">
        <% include ../partials/footer.ejs %>
      </footer>
    </body>
    </html>
