<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= oneHuman.name %> | HOB</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <nav>
      <a href="/humansofbloomington">Back</a>
      <a href="#">About</a>
      <a href="#">Login</a>
    </nav>
    <header>
      <h1>HUMANS OF BLOOMINGTON</h1>
    </header>
    <div class="">
      <h3><%= oneHuman.name %></h3>
      <img src="<%= oneHuman.image %>" alt="<%= oneHuman.name %> image">
      <%= oneHuman.currentRole %>
      <%= oneHuman.hometown %>
      <%= oneHuman.story %>
      <a href="/humansofbloomington/<%= oneHuman.id %>/edit"><button type="button">Edit</button></a>
      <form action="/humansofbloomington/<%= oneHuman.id %>?_method=DELETE" method="POST">
        <input type="submit" name="" value="Delete">
      </form>
    </div>
  </body>
</html>
